body{
    background-color: blanchedalmond;
    /* margin-left: 70px;
    margin-right: 70px; */
    margin-bottom: 40px; 
}

.imagename{
    font-size: medium;
    font-weight: bold;
    color: rgb(98, 0, 255);
    text-align: center;
    
}

img{
    border: 1px solid black;
    width: 270px;
    height: 270px;
    margin-left: 20px;
    margin-right: 20px; 
}


#topic{
    font-size: larger;
    font-weight: bold;
    color: rgb(243, 36, 36);
    text-align: center;
    margin: 20px 40px;
}

